.submit-btn:hover{
    border: 2px solid #1b1b1b;
}
.rb {
    background: linear-gradient(
      rgba(255, 255, 255, 1), /* Semi-transparent overlay with opacity */
      rgba(255, 255, 255, 0.7) /* Same as above, this creates the overlay */
    ),
    url('../assets/registerback.jpg'); /* Your background image */
    background-size: cover; /* Ensure the image covers the entire page */
    background-position: center; /* Center the image */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }

  .input {
    background-color: #ffffff; /* Button background color */
    color: #ffffff; /* Text color */
    border: none; /* Remove the border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Add padding for better appearance */
    font-size: 1rem; /* Font size */
    cursor: pointer; /* Change cursor to pointer on hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a soft shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition effects */
  }
  